.gameContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0%;
  left: 0;
  bottom: 90%;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
}

.gameBar {
  position: fixed;
  top: 10%;
  left: 0;
  bottom: 0%;
  width: 100%;
  background-color: white;
}

.buttonContainer {
  position: fixed;
  top: 80%;
  left: 0;
  bottom: 0%;
  width: 100%;
  background-color: white;
}

.option {
  position: absolute;
  margin: 0;
  top: 50%;
  bottom: 50%;
}

.A {
  left: 10%;
}

.B {
  left: 45%;
}

.C {
  right: 10%;
}
