.listContainer {
  overflow: auto;
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
}

.listHeader {
  display: grid;
  grid-template-columns: 5% 25% 70%;
  height: 150px;
}

.listLogo {
  width: 75px;
  height: 75px;
  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  grid-column-start: 1;
  grid-column-end: 1;
}

.listNavigation {
  grid-column-start: 3;
  grid-column-end: 3;
  text-align: right;
}

.welcomeMessage {
  margin-top: 8%;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 2;
}

.storyContainer {
  display: grid;
  grid-template-rows: 15% 85%;
  font-size: 10px;
}

.storyIntro {
  grid-row-start: 1;
  grid-row-end: 1;
}

.storyIntro h1 {
  text-align: center;
}

.storyIntro button {
  color: white;
  text-align: center;
  width: 100%;
  /* margin-bottom: 50px; */
}

.stories {
  margin-top: 70px;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 3%;
  border-left: 3px solid greenyellow;
  border-right: 3px solid greenyellow;
}

.gameData {
  display: grid;
  grid-template-columns: 40% 40% 10% 10%;
}

.gameData p {
  align-self: center;
}

.modal {
  display: none; /* Hidden by default */
  color: white;
  border: 3px solid white;
  background: black;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 380px;
}

.modalButton {
  color: white;
  text-align: center;
  width: 100%;
}

.modal h1 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.formContainer {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}

.Ccont {
  margin-bottom: 10px;
}

.Ccont input {
  width: 150px;
  float: right;
}

.Ccont select {
  width: 150px;
  float: right;
}

.modalButtons {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 300px;
  margin-left: auto;
}

#fil {
  grid-column-start: 1;
  grid-column-end: 1;
}

#clo {
  grid-column-start: 2;
  grid-column-end: 2;
}
